<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.10.2/css/all.min.css" integrity="sha256-zmfNZmXoNWBMemUOo1XUGFfc0ihGGLYdgtJS3KCr/l0=" crossorigin="anonymous">

		<style>
			.animated-progress-bit {
				transition: margin-left .45s;
			}
			.card {
				transition: box-shadow .3s;
				box-shadow: 0 1px 2px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.05);
			}
			.card:hover {
				box-shadow: 0 2px 3px 0 rgba(0,0,0,.14), 0 2px 8px 0 rgba(0,0,0,.10);
			}
		</style>

		<title>Neostats</title>
	</head>
	<body class="text-dark bg-light">
		<div class="container pl-4 pr-4 pl-md-0 pr-md-0 pt-4" style="max-width: 832px;">
			<div class="d-block d-lg-none" style="margin-bottom: 10px;"></div>
			<div class="d-none d-lg-block" style="margin-bottom: 50px;"></div>
			<div class="row">
				<div class="col-8">
					<h2 class="mb-3" style="display: inline-block;">Neostats</h2>
				</div>
				<div class="col-4 text-right">
					<h4 class="mb-3 d-inline-block mt-1 text-warning" id="conn-heart" data-toggle="tooltip" data-placement="left" title="Connecting to Neostats"><i class="far fa-heart"></i></h2>
				</div>
			</div>
			<div class="row" id="main-row">
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.15.0/dist/umd/popper.min.js" integrity="sha256-fTuUgtT7O2rqoImwjrhDgbXTKUwyxxujIMRIK7TbuNU=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
		<script>
			'use strict';

			$('[data-toggle="tooltip"]').tooltip();

			function generateCard(name) {
				var nameWOSpace = name.replace(/ /g, '');
				return $('<div>').addClass('col-sm-12 col-md-4')
					.append(
						$('<div>').addClass('card mb-3 border-0').attr('id', 'card-' + nameWOSpace)
						.append(
							$('<div>').addClass('card-body')
							.append(
								$('<h5>').addClass('card-title text-center mb-1').text(name)
							)
							.append(
								$('<ul>').addClass('list-group list-group-flush bg-transparent mb-2')
								.append(
									$('<li>').addClass('list-group-item bg-transparent border-0 pl-0 pr-0 pb-2')
									.append(
										$('<div>').addClass('d-flex justify-content-center align-items-center')
										.append($('<span>').addClass('ml-0 mr-1 d-table-cell text-right').css('width', '42.5%').attr('id', 'rx-' + nameWOSpace).text('Loading'))
										.append(
											$('<span>').addClass('ml-0 mr-0 d-table-cell text-center align-bottom text-secondary').css({'font-size': '1.5em', 'line-height': '1em', 'opacity': '0.2', 'white-space': 'nowrap'})
											.append($('<i>').addClass('fas fa-sort-down').css({'position': 'relative', 'left': '12.5%'}))
											.append($('<i>').addClass('fas fa-sort-up').css({'position': 'relative', 'right': '12.5%'}))
										)
										.append($('<span>').addClass('ml-1 mr-0 d-table-cell text-left').css('width', '42.5%').attr('id', 'tx-' + nameWOSpace).text('Loading'))
									)
								)
								.append($('<li>').addClass('list-group-item bg-transparent border-0 pt-2 pb-0 text-center').attr('id', 'traffic-' + nameWOSpace).text('Loading'))
								.append(
									$('<div>').addClass('progress').css({'height': '1px', 'background-color': 'rgba(0,0,0,.125)'}).attr('id', 'progress-for-bit-' + nameWOSpace)
								)
								.append(
									$('<div>').addClass('progress').css({'height': '1px', 'background-color': 'rgba(0,0,0,0)', 'position': 'relative', 'bottom': '1px'})
									.append($('<div>').addClass('progress-bar').css('width', '0%').attr('id', 'progress-bar-' + nameWOSpace))
								)
							)
						)
					);
			}

			var keys = [
{% for endpoint in groups['edges'] %}
				'{{ endpoint }}',
{% endfor %}
{% for endpoint in groups['relays'] %}
				'{{ endpoint }}',
{% endfor %}
				'LAN'
			];
			var displayedTrafficLimits = {
{% for endpoint in groups['edges'] %}
				'{{ endpoint }}': {{ hostvars[endpoint]['traffic_limit_bytes'] }} / 1073741824 + ' GB',
{% endfor %}
{% for endpoint in groups['relays'] %}
				'{{ endpoint }}': {{ hostvars[endpoint]['traffic_limit_bytes'] }} / 1073741824 + ' GB',
{% endfor %}
				'LAN': '∞ GB'
			};
			var trafficLimits = {
{% for endpoint in groups['edges'] %}
				'{{ endpoint }}': {{ hostvars[endpoint]['traffic_limit_bytes'] }},
{% endfor %}
{% for endpoint in groups['relays'] %}
				'{{ endpoint }}': {{ hostvars[endpoint]['traffic_limit_bytes'] }},
{% endfor %}
			};

			keys.forEach(function(e) {
				$('#main-row').append(generateCard(e));
			});

			var $connHeart = $('#conn-heart');

			window.setInterval(function() {
				$.ajax('neostats.json', {
					timeout: 2000,
					cache: false
				})
					.done(function(data) {

						if (!$connHeart.hasClass('text-info')) {
							$connHeart.removeClass('text-danger text-warning').addClass('text-info').html('<i class="fas fa-heartbeat"></i>');
							$connHeart.tooltip('hide').attr('data-original-title', 'Connected to Neostats');
							if ($connHeart.is(":hover")) {
								$connHeart.tooltip('show');
							}
						}

						$.each(data, function(name, tuple) {
							var nameWOSpace = name.replace(/ /g, '');
							var rxSpeed = parseInt(tuple[0] / 1024);
							var txSpeed = parseInt(tuple[1] / 1024);
							var displayedTraffic = parseFloat((tuple[2] + tuple[3]) / 1073741824).toFixed(2); // 1073741824 = 1024^3
							$('#rx-' + nameWOSpace).text(rxSpeed + ' kB/s');
							$('#tx-' + nameWOSpace).text(txSpeed + ' kB/s');
							$('#traffic-' + nameWOSpace).text(displayedTraffic + ' / ' + displayedTrafficLimits[name]);

							var trafficLimit = trafficLimits[name];
							if (trafficLimit !== undefined) {
								var $progressBar = $('#progress-bar-' + nameWOSpace);
								$progressBar.css('width', ((tuple[2] + tuple[3]) / trafficLimit * 100) + '%');
							}

							if (rxSpeed > 0 || txSpeed > 0) {

								$('#progress-bit-' + nameWOSpace).remove();

								var $progress = $('#progress-for-bit-' + nameWOSpace);
								var $progressBit = $('<div>').addClass('progress-bar progress-bit-right animated-progress-bit').attr('id', 'progress-bit-' + nameWOSpace);
								var progressBitWidthPercent = 8 * Math.log10(2 + (rxSpeed+txSpeed) / 1000);
								$progressBit.css({'width': progressBitWidthPercent + '%', 'margin-left': '100%'});
								$progress.append($progressBit);

								window.setTimeout(function() {
									$progressBit.css('margin-left', (-progressBitWidthPercent) + '%');
								}, 10 + Math.random() * 400);

							}

						});
					})
					.fail(function() {
						if (!$connHeart.hasClass('text-danger')) {
							$connHeart.removeClass('text-info text-success text-warning').addClass('text-danger').html('<i class="far fa-heart"></i>');
							$connHeart.tooltip('hide').attr('data-original-title', 'Failed to connect to Neostats');
							if ($connHeart.is(":hover")) {
								$connHeart.tooltip('show');
							}
						}
					});
			}, 1000);
		</script>
	</body>
</html>
