[
	{
		"BindAddr": "127.0.0.1:18300",
		"BufferLen": 65000,
		"DialTimeoutMilliseconds": 7000,
		"MinimumAcceptedLatencyMilliseconds": 40,
		"Servers": [
{% for edge in groups['edges'] %}
	{% set edge_loop = loop %}
	{% for endpoint in groups['edges'] %}
		{% if not loop.last %}
			"{{ hostvars[endpoint]['neo_listen'] }}:{{ hostvars[edge]['neo_port'] }}",
		{% else %}
			{% if not groups['relays'] %}
			"{{ hostvars[endpoint]['neo_listen'] }}:{{ hostvars[edge]['neo_port'] }}"
			{% else %}
			"{{ hostvars[endpoint]['neo_listen'] }}:{{ hostvars[edge]['neo_port'] }}",
			{% endif %}
		{% endif %}
	{% endfor %}
	{% for endpoint in groups['relays'] %}
		{% if not loop.last %}
			"{{ hostvars[endpoint]['neo_listen'] }}:{{ hostvars[edge]['neo_port'] }}",
		{% else %}
			{% if edge_loop.last %}
			"{{ hostvars[endpoint]['neo_listen'] }}:{{ hostvars[edge]['neo_port'] }}"
			{% else %}
			"{{ hostvars[endpoint]['neo_listen'] }}:{{ hostvars[edge]['neo_port'] }}",
			{% endif %}
		{% endif %}
	{% endfor %}
{% endfor %}
		]
	}
]
