[
	{
		"BindAddr": "127.0.0.1:18300",
		"BufferLen": 65000,
		"DialTimeoutMilliseconds": 7000,
		"MinimumAcceptedLatencyMilliseconds": 50,
		"ConnectionPooling": {
			"PoolSize": 4,
			"MinimumTimeoutMilliseconds": 45000,
			"MinimumTimeoutIncrementMilliseconds": 300
		},
{% set servers = [] %}
{% for edge in groups['edges'] %}
	{% for endpoint_group in ['edges', 'relays'] %}
		{% for endpoint in groups[endpoint_group] %}
			{% if endpoint not in hostvars[edge]['blacklisted_routing_hosts'] %}
				{{ servers.append( '%s:%d'|format(hostvars[endpoint]['neo_listen'], hostvars[edge]['neo_port']) ) }}
			{% endif %}
		{% endfor %}
	{% endfor %}
{% endfor %}
		"Servers": {{ servers|tojson(indent=12) }}
	}
]
